<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mohammed Abuashour Portfolio</title>
    <link rel="stylesheet" href="/main.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/b4479b5fd3.js"
      crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="g-1">
      <div class="g1-text">
        <h1 class="main-H">Mohammed Abuashour</h1>

        <p class="main-P" style="margin-top: 4rem;">
          Aspiring IT technician with 4+ years in the service industry and
          personal IT projects,<br /> looking to tackle challenges in software and
          network systems with a strong team and culture.
        </p>
      </div>
      <div class="g-mypic">
        <img class="image" src="img/mpic.JPG" alt="linkedin picture" />
      </div>
    </div>

    <div class="flex-2">
      <div>
        <h2 class="h-2" style="margin: 0 0 4rem 5.5rem;">Experience</h2>

        <img class="image-2" src="img/experience.jpg" alt="exp-pic" />
      </div>

      <div class="grid-2-1">
        <ul class="bullet" style="color: #eec493;">
          <u>Regional Manager | Fire Wings | April 2022 - Present</u><br />
          <li>
            Solve technical issues in POS and KDS systems and software,
            preventing any delay of store operations.
          </li>
          <li>
            Develop a customer feedback system to handle positive feedback and
            complaints with 9+ customer submissions a week.
          </li>
          <li>
            Train new hires under company and personal guidance with POS and KDS
            systems and software.
          </li><li>
            Hire, interview, and onboard candidates to our store operating
            system.
          </li><li>
            Learn the intricacies of the restaurant portal to better train the
            team, increasing operational efficiency.
          </li>

          <li>
            Order weekly from store vendors such as Sysco and Gulf Coast Paper
            by checking inventory and analyzing usage trends.
          </li><li>
            Configure, troubleshoot, and operate store POS software and system
            across 5 different systems in the front and back.
          </li><li>
            Solve hardware issues in POS and KDS systems and networks.
          </li>
        </ul>
      </div>
    </div>

    <div class="flex-3">
      <div>
        <h3 class="h-3" style="margin: 0 0 3rem 3.7rem;">SUMMARY</h3>

        <img class="image-3" src="img/Tools.png" alt="tool-pic" />
        <img class="image-4" src="img/Tool-2.jpg" alt="tool-pic" />
      </div>

      <div class="grid-container" style="margin: 1rem;">
        <div class="grid-row-1">Tools</div>
        <div class="grid-row-1">Education</div>
        <div class="grid-row-1">Residential Networking</div>
        <div class="grid-row-2">
          <ul>
            <li><u>OS:</u><br /> MacOS, Linux, Windows</li>
            <li><u>Languages:</u><br /> Javascript, Bash</li>
            <li>
              <u>Networking:</u><br /> Routing, WAP, Omada,<br /> Firewall, Gatway
              Controllers
            </li>

            <li><u>Git</u></li>
            <li><u>Toast</u></li>
          </ul>
        </div>
        <div class="grid-row-2">
          <ul class="bullet" style="line-height: 2;">
            <li>Comptia A+ Core One & Core Two<br />Certification</li>
            <li>FreeCodeCamp HTML/CSS Frontend<br />Course</li>
          </ul>
        </div>

        <div class="grid-row-2">
          <ul class="bullet">
            <li>
              Horizontal Cabling<br />from telecommunications<br />room to work
              areas
            </li>
            <li>Deploy PoE security Cameras</li>
            <li>Configure RSSI<br />for Seamless Roaming</li>
            <li>Run Omada SND<br />on Rasberry Pi</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>

<footer class="icon-flex">
  <div>
    <a
      href="https://www.linkedin.com/in/mohammed-abuashour-271b91283/"
      target="_blank"
    >
      <i class="fa-brands fa-linkedin icon-linkedin"></i>
    </a>
  </div>
  <div>
    <i class="fa-regular fa-envelope icon-gmail"></i>
    <p class="email-text">m.oabuashour@gmail.com</p>
  </div>

  <div>
    <a href="https://github.com/moe-abuashour?tab=repositories" target="_blank">
      <i class="fa-brands fa-github-alt icon-github"></i>
    </a>
  </div>
</footer>
